<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Student Login</title>
<link rel="stylesheet" href="student.css">
</head>
<body>
<div class="cotainer">
    <div class="form1">
        <form class="aa" name="studlng" action="studdb.jsp" onsubmit="return validateForm()" method="post">
<div class="bdd">
    <label for="idno">ID</label>
    <input type="number",id="idno", name="idno"><br>
    <label for="passwd">Password</label>
    <input type="password",id="passwd", name="passwd"><br>
    <label for="fname">First Name</label>
    <input type="text",id="fname", name="fname">
    <label for="mname"> Middle Name</label>
    <input type="text",id="mname", name="mname">
    <label for="sname">Surame</label>
    <input type="text",id="sname", name="sname"><br>
</div>
        <div class="rdo">
            <label for="classi">Class I</label>
            <input type="radio",id="classi", name="class", value="Class I">
            <label for="classii">Class II</label>
            <input type="radio",id="classii", name="class", value="Class II">
            <label for="classiii">Class III</label>
            <input type="radio",id="classiii", name="class", value="Class III">
            <label for="classiv">Class IV</label>
            <input type="radio",id="classiv", name="class", value="Class IV">
            <label for="classv">Class V</label>
            <input type="radio",id="classv", name="class", value="Class V"><br>
            <div class="submit">
                <button class="btn" type="submit" form="form" value="Submit">Submit</button>
            </div>
        </div>
        </form>
        </div>
</div>
    
        <script>
            function validateForm() {
                
                var idno = document.forms["studlgn"]["idno"].value;
                if (idno == "") {
                    alert("ID must be filled out");
                    return false;
                }
            
                var passwd = document.forms["studlgn"]["passwd"].value;
                if (passwd == "") {
                    alert("password should be filled");
                    return false;
                }
                var fname = document.forms["studlgn"]["First Name"].value;
                if (fname == "") {
                    alert("Name must be filled out");
                    return false;
                }var mname = document.forms["studlgn"]["Middle Name"].value;
                if (name == "") {
                    alert("Name must be filled out");
                    return false;
                }var name = document.forms["studlgn"]["Surame"].value;
                if (name == "") {
                    alert("Name must be filled out");
                    return false;
                }    
            }
            </script>





    </form>
</body>
</html>