body {
        
        margin: 0;
        font-size: 12px;
        position:relative;
        -ms-overflow-style: scrollbar;
        border: 3px;
        margin: 1px;
        background-image: url("assignment-1/bg.jpg" );
    }
